<div class="header-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2tZQ0y6U-AmwzapMoiK5Pg3_jPuHBAdi9xkokgEseGmylehPw08lcdaA3vfNL3dtnc&usqp=CAU" height="50" width="40" alt="image" class="bill-logo"> 
    <div class="logo" (click)="goToHome()">Bharat Electricity</div>
    <div class="admin"  routerLink="/admin-login" routerLinkActive="active"> Admin</div>
    <div class="consumer" routerLink="/dashboard-consumer" routerLinkActive="active"> Consumer </div>
</div>

