<div class="header-container">
    <div class="logo" (click)="goToHome()"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXL2tZQ0y6U-AmwzapMoiK5Pg3_jPuHBAdi9xkokgEseGmylehPw08lcdaA3vfNL3dtnc&usqp=CAU" height="50" width="40" alt="image" class="bill-logo">  Bharat Electricity</div>
    <div class="consumer" routerLink="/dashboard-consumer" routerLinkActive="active"> 
    <mat-icon class="mat-icon" color="white">supervised_user_circle</mat-icon>  Consumer </div>
    <div class="admin"  routerLink="/admin-login" routerLinkActive="active"> 
        <mat-icon class="mat-icon" color="white">account_circle </mat-icon>Admin</div>
    
</div>

