<div class="admin-dash">
    <h1 class="heading-admin">Admin Dashboard</h1>
    <ol>
      <a routerLink="./getAllBills"><li>Get All Bill Reports</li></a>
      <a routerLink="./getBillsByYear"><li>Get All Bill Reports By Year</li></a>
      <a routerLink="./getBillsByMonth"><li>Get All Bill Reports My Month</li></a>
      <a routerLink="./getBillsByArea"><li>Get All Bill Reports By Area</li></a>
      <a routerLink="./getBillsByCity"><li>Get All Bill Reports By City</li></a>
      <a routerLink="./addUnitsConsumed"><li>Add units for a consumer</li></a>
    </ol>
  </div>
