<app-header></app-header>
<div class="container">
    <div class="jumbotron">
        <h2 > Trending Artciles </h2>
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="assets/card-image-1.webp" class="img-fluid"/>
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">The Electricity Amendment Bill 2022</h5>
              <p class="card-text"> Market friendly but more powers for the Centre</p>
              <a href="https://www.moneycontrol.com/news/opinion/the-electricity-amendment-bill-2022-market-friendly-but-more-powers-for-the-centre-9755391.html" target="_blank" class="btn btn-primary">Know More</a>
            </div>
          </div>
    </div>
    
</div>
